#home {
  background-color:#153438;
  height: 100vh;
  width: 100vw;
  background-image: url('../../assets/img/mt_oma.JPG');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.name {
  position: absolute;
  top: 20vh;
  right: 25vw;
  font-family: 'Architects Daughter', cursive;
  font-size: 40px;
}

.intro {
  width: 23vw;
  border: 1px solid 153438;
  border-radius: 3px;
  /* background-color: #BDCED5; */
  /* opacity: 0.9; */
  overflow: hidden;
  position: absolute;
  right: 32vw;
  top: 34vh;
  padding: 12px 12px;
  font-size: 18px;
  line-height: 1.5em;
}

.img-container {
  height: 50vh;
  position: absolute;
}

.home-img {
  width: 100vw;
}