#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 24px 100px;
}

.about-header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  color: #1b1b1b;
  font-size: 20px;
  letter-spacing: 4px;
}

.about-background {
  font-size: 18px;
  letter-spacing: 2px;
  margin-top: 24px;
}

.about-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
  position: relative;
}

.about-img {
  /* height: calc((100vw - 48px)/1.3333333333333333); */
  max-width: 100%;
}

.about-text {
  padding: 12px 12px;
  line-height: 1.618em;
  font-size: 16px;
  border-radius: 3px;
  color: #1b1b1b;
}

a.link {
  color: #1b1b1b;
}

.hobbies-and-favorites-container {
  display: flex;
  flex-direction: column;
}

.hobbies-and-favorites {
  display: flex;
  flex-direction: column;
  justify-content: center;

}