#skills {
  background-color: #bfb1d5;
  min-height: 100vh;
  width: 100vw;
  padding: 80px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #22271D;
  overflow: hidden;
}

.skills-header {
  margin-bottom: 50px;
  overflow-y: hidden;
}

.skills-body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 0 100px;
}

.skills-description {
  width: 30vw;
  line-height: 1.618em;
  font-size: 18px;
}

.skills-list {
  width: 30vw;
  background-color: whitesmoke;
  border: 1px solid black;
  box-shadow: 3px 3px 4px 3px grey;
  border-radius: 5px;
  padding: 24px;
  overflow-y: hidden;
}

.skill-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.star {
  height: 25px;
  margin-left: 5px;
}

.star-rating {
  justify-self: flex-end;
}

.skill-name {
  font-weight: bold;
  font-size: 18px;
}