.main-navbar {
  display: flex;
  justify-content: center;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.list-item {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}

.active {
  text-decoration: underline;
}

.link {
  color: #000;
}
